.no_hover_product_type_header {
    color: black;
    border: 3px solid black; 
}

.product_type_header {
    color: black;
    border: 3px solid black; 
}

.product_type_header:hover {
    color: purple;
    border: 3px solid purple;
}

.inline {
    display: inline-block;
}

a:hover {
    color: purple;
    text-decoration: none;
}

h1 a {
    color: #FCA205;
}