.no_hover_product_type_header {
    color: black;
    font-family: 'Inconsolata', monospace;
    border-bottom: 3px solid black;
}

.product_type_header {
    color: black;
    border-bottom: 3px solid black; 
    font-family: 'Inconsolata', monospace;
}

.product_type_header:hover {
    color: purple;
    border-bottom: 2px solid blue;
    font-family: 'Inconsolata', monospace;
}

.inline {
    display: inline-block;
}

a:hover {
    color: purple;
    text-decoration: none;
}

h1 a {
    color: #FCA205;
}

.welcome {
    font-family: 'Inconsolata', monospace;
}

