{% extends 'guitar_zone/base.html' %}

{% block content %}
  <h1 class="welcome">Welcome to Guitar Zone!</h1>
  <blockquote>
  <h4 class="welcome">Our goal is for local guitarists to have the opportunity to rent other user's guitars for gigs or simply to try out a guitar for personal use. <br>
  <br>Here are a few of the most recent posts from our users:</h4>
  </blockquote>
  {% for gt in guitar_type %}
      <h3 class="no_hover_product_type_header">{{ gt.label_name }}</h3>
      {% for gui in guitar %}
        {% for g in gui %}
        {% if g.guitar_type.pk == gt.pk %}
          <div class="welcome">
            <a href="{% url 'guitar_zone:guitardetail' g.id %}"><h4 class="inline">{{ g.name }}</h4></a>
            <p class="inline">${{ g.price }}/day</p> 
          </div>
      {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endblock %}