{% extends 'guitar_zone/base.html' %}

{% block content %}
<div class="welcome">
  <h1>Login Existing User</h1>
  <form class="" action="{% url 'guitar_zone:login_customer' %}" method="post">
    {% csrf_token %}
    <input type="text" name="username" value="" placeholder="Email"><br>
    <input type="password" name="password" value="" placeholder="Password"><br>
    <button type="submit" name="button">Submit</button>
  </form>
</div>  
  <div class="welcome">
    <p>Not a current user? Register <a href="{% url 'guitar_zone:register' %}">here</a></p>
  </div>
{% endblock %}